@using WordReplacer.Models.Enums
@inject IStringLocalizer<DownloadDocumentListResource> Localizer

<div class="container overflow-auto" style="max-height: 200px;">
    @if (Downloads is not null)
    {
        @if (Downloads.Count > 0)
        {
            @foreach (var download in Downloads)
            {
                <div class="row">
                    <div class="col-9">
                        @download.FileName
                    </div>
                    <div class="col-3">
                        @if (download.Status == DownloadStatus.Success)
                        {
                            <MatIcon Icon="done" Class="primary-color" />
                        }
                        else if (download.Status == DownloadStatus.Error)
                        {
                            <MatIcon Icon="clear" Class="error-color" />
                        }
                        else
                        {
                            <MatProgressCircle Indeterminate="@download.IsProgressIndeterminate" Progress="@download.Progress" Size="MatProgressCircleSize.Small" />
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    @Localizer["noDownloadsYet"]
                </div>
            </div>
        }
    }
    else if(DownloadsDict is not null)
    {
        @if (DownloadsDict.Values.Count > 0)
        {
            @foreach (var download in DownloadsDict.Values)
            {
                <div class="row">
                    <div class="col-9">
                        @download.FileName
                    </div>
                    <div class="col-3">
                        @if (download.Status == DownloadStatus.Success)
                        {
                            <MatIcon Icon="done" Class="primary-color" />
                        }
                        else if (download.Status == DownloadStatus.Error)
                        {
                            <MatIcon Icon="clear" Class="error-color" />
                        }
                        else
                        {
                            <MatProgressCircle Indeterminate="@download.IsProgressIndeterminate" Progress="@download.Progress" Size="MatProgressCircleSize.Small" />
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    @Localizer["noDownloadsYet"]
                </div>
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public List<Download>? Downloads { get; set; }

    [Parameter]
    public EventCallback<List<Download>> DownloadsChanged { get; set; }
    
    [Parameter]
    public Dictionary<string, Download>? DownloadsDict { get; set; }

    [Parameter]
    public EventCallback<Dictionary<string, Download>> DownloadsDictChanged { get; set; }

}