@using MarkupString = Microsoft.AspNetCore.Blazor.MarkupString
@using WordReplacer.Models
@inject IStringLocalizer<GeneralResource> GeneralLocalizer


<MudPaper Class="p-4">
    @if (Document.DocumentValues.Count > 0)
    {
        <MudExpansionPanels MultiExpansion="true" Elevation="10">
            @foreach (KeyValuePair<DocumentValue, DocumentValue> doc in Document.DocumentValues)
            {
                <MudExpansionPanel @bind-Expanded="doc.Key.IsAccordionOpen">
                    <TitleContent>
                        <div class="d-flex align-content-center justify-content-center">
                            <MudIcon Icon="@Icons.Material.Filled.FindReplace" class="mr-3"></MudIcon>
                            <MudText>
                                <ReplacementTextHeaderComponent DocumentValues="doc" />
                            </MudText>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudGrid Row="true" Justify="Justify.Center" Spacing="5" Class="m-4">
                            <MudItem xs="12">
                                <div class="d-flex align-center p-1">
                                    <!-- Text to Replace (readonly) -->
                                    <MudTextField
                                        T="string"
                                        Label="@string.Format(GeneralLocalizer["headerOriginalValues"])"
                                        Text="@doc.Key.Text"
                                        HelperText="@doc.Key.HelperText"
                                        Disabled="true"
                                        Variant="Variant.Text"/>

                                    <!-- New Replacement Input -->
                                    <MudTextField
                                        T="string"
                                        Label="@string.Format(GeneralLocalizer["newDocumentLabel"], doc.Key.Text)"
                                        Placeholder="@doc.Value.HelperText"
                                        @bind-Value="doc.Value.Text"
                                        HelperText="@doc.Value.HelperText"
                                        HelperTextOnFocus="true"
                                        Variant="Variant.Text"
                                        Lines="1"
                                        Immediate="true"
                                        AutoGrow="true"
                                        Class="ml-4"/>

                                    <!-- Delimiter -->
                                    <MudSelect @bind-Value="@doc.Value.Delimiter" T="DelimiterType"
                                               Label="Delimiter" 
                                               HelperTextOnFocus="true"
                                               HelperText="Split text by delimiter"
                                               Class="ml-4">
                                        <MudSelectItem Value="@DelimiterType.None">Sem delimitador</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.NewLine">Enter / Nova linha</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Semicolon">Ponto e vírgula (;)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Colon">Dois pontos (:)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Period">Ponto final (.)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Pipe">Barra vertical (|)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Comma">Vírgula (,)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Tab">Tabulação (Tab)</MudSelectItem>
                                        <MudSelectItem Value="@DelimiterType.Custom">Outro (especificar)</MudSelectItem>
                                    </MudSelect>
                                    
                                    @if(doc.Value.Delimiter == DelimiterType.Custom)
                                    {
                                        <MudTextField
                                            T="string"
                                            Label="Custom Delimiter"
                                            @bind-Value="doc.Value.CustomDelimiter"
                                            HelperText="Choose your delimiter"
                                            HelperTextOnFocus="true"
                                            Variant="Variant.Text"
                                            Lines="1"
                                            Immediate="true"
                                            AutoGrow="true"
                                            Class="ml-4"/>
                                    }
                                    
                                    <!-- Remove value Button -->
                                    <MudButton Variant="Variant.Outlined"
                                               StartIcon="@Icons.Material.Filled.Delete"
                                               ButtonType="ButtonType.Button"
                                               Color="Color.Error"
                                               Class="ml-4"
                                               OnClick="() => RemoveItemsFromDictAsync(doc)">
                                        @GeneralLocalizer["btnRemoveReplacementLine"]
                                    </MudButton>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    }
    else
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Info">
            @GeneralLocalizer["emptyValueListInfo"]
        </MudAlert>
    }
</MudPaper>

@code {
    [Parameter] public required Document Document { get; set; }
    [Parameter] public EventCallback<Document> DocumentChanged { get; set; }

    private async Task RemoveItemsFromDictAsync(KeyValuePair<DocumentValue, DocumentValue> doc)
    {
        Document.DocumentValues.Remove(doc);
        await DocumentChanged.InvokeAsync(Document);
    }
}