@inherits LayoutComponentBase
@using WordReplacer.UI.Components

<MatThemeProvider Theme="@_primaryTheme">
    <MatAnchorUtils></MatAnchorUtils>
    <MatAppBar Style="z-index: 100;">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => MenuButtonClicked())"></MatIconButton>
                <MatIcon><img style="width: 100%;" src="_content/WordReplacer.UI/img/wr-logo-white-nobg-64x64.png" alt="Word Replacer Logo"/></MatIcon>
                <MatAppBarTitle Style="margin-left: 0;">Word Replacer</MatAppBarTitle>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    
    <MatToastContainer />

    <MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">

        <MatHidden 
            Breakpoint="@MatBreakpoint.SM" 
            Direction="@MatHiddenDirection.Up" 
            HiddenChanged="@ModelDrawerHiddenChanged">
            <ChildContent>
                <MatDrawer @bind-Opened="@_navMenuOpened" Mode="@MatDrawerMode.Modal" Style="background-color: #fafafa;">
                    <MatAppBarAdjust></MatAppBarAdjust>
                    <NavMenuContent/>
                </MatDrawer>
            </ChildContent>
            <ElseContent>
                <MatDrawer @bind-Opened="@_navMenuOpened" Mode="@MatDrawerMode.Dismissible" Style="background-color: #fafafa;">
                    <MatAppBarAdjust></MatAppBarAdjust>
                    <NavMenuContent/>
                </MatDrawer>
            </ElseContent>
        </MatHidden>


        <MatDrawerContent Class="mdc-theme--background">
            <MatAppBarAdjust></MatAppBarAdjust>
            <div class="body-wrapper ps-3 pe-3 pt-2 pb-2">
                @Body
            </div>
        </MatDrawerContent>
        <ApplicationUpdateComponent/>
    </MatDrawerContainer>
</MatThemeProvider>

@code
{
    // Navbar should start closed
    bool _navMenuOpened = false;

    private void ModelDrawerHiddenChanged(bool hidden)
    {
        if (!hidden)
        {
            _navMenuOpened = false;
        }
    }

    void MenuButtonClicked()
    {
        _navMenuOpened = !_navMenuOpened;
        StateHasChanged();
    }

    readonly MatTheme _primaryTheme = new ()
    {
        Primary = MatThemeColors.DeepPurple._700.Value,
        Secondary = MatThemeColors.DeepPurple._300.Value,
        Background = MatThemeColors.Grey._200.Value
    };
}