@using WordReplacer.Dto
@using WordReplacer.Enums
@using InputType = WordReplacer.Enums.InputType
@using MudBlazor

<div class="row">
    <div class="col-12 mt-3">
        <InputFileComponent @bind-Document="Document" />
    </div>
</div>
<br />
<EditForm Model="DocParamsDto" OnValidSubmit="OnAddValues">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
            <MudTextField @bind-Value="DocParamsDto.Text"
                          HelperText="@HelperText"
                          Label="@LabelText"
                          FullWidth="true" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
            <label class="text-wrap text-break">
                @InputTypeLabel
            </label>
            <br />
            <MudRadioGroup @bind-SelectedOption="DocParamsDto.Type" T="InputType">
                <MudRadio Option="@InputType.Text" T="InputType">@InputTypeText</MudRadio>
                <MudRadio Option="@InputType.List" T="InputType">@InputTypeList</MudRadio>
            </MudRadioGroup>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2 justify-content-center text-center">
            <MudButton StartIcon="@Icons.Material.Filled.Add"
                       Style="width: 98%"
                       Variant="Variant.Filled"
                       Disabled="@string.IsNullOrWhiteSpace(DocParamsDto?.Text)">
                @AddButtonText
            </MudButton>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public Document Document { get; set; }
    [Parameter] public DocumentParamsDto DocParamsDto { get; set; }
    [Parameter] public EventCallback OnAddValues { get; set; }
    [Parameter] public string HelperText { get; set; } = string.Empty;
    [Parameter] public string LabelText { get; set; } = string.Empty;
    [Parameter] public string InputTypeLabel { get; set; } = string.Empty;
    [Parameter] public string InputTypeText { get; set; } = string.Empty;
    [Parameter] public string InputTypeList { get; set; } = string.Empty;
    [Parameter] public string AddButtonText { get; set; } = string.Empty;
}
